.saludo {
  font-family: sans-serif;
  background-color: transparent;
  text-align: center;
}

* {
  background-color: yellow;
}

.universo {
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  list-style: none;
  font-size: 130%;
}

.universo a:hover {
  color: blue;
}

.img-totoro {
  text-align: center;
}
